<div class="border-left border-6 border-gray px-3">
  <p class="lead"><%= @question %>
  <br>-You</p>
</div>
<div class="bg-yellow border-left border-6 border-gray px-3">
  <p class="lead"><%= @answer %>
  <br>-Your Coach</p>
</div>

<div class="link" type="text">
<%= link_to "Ask another question", ask_path %>
</div>

