<form action="/answer" data-turbo="false">
  <p>Ask your coach anything</p>
    <div class="rounded h-25">
      <input class='w-25' type="text" name="question"><input type="submit" class='bg-primary text-white fw-bold rounded-right' value="Ask">
   </div>
</form>
